/*
 * colorscheme:
 * CFF09E
 * A8DBA8
 * 79BD9A
 * 3B8686
 * 0B486B
 * http://www.colourlovers.com/palette/92095/Giant_Goldfish
 */

body {
    background-color: #45484B;
    color: #EEE6AB;
}

#content {
    width: 800px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.axis text {
    font: 11px serif;
    fill: #EEE6AB;
}

rect {
    stroke: #EEE6AB;
    fill: #45484B;
}

.axis path,
.axis line {
    fill: none;
    stroke: #EEE6AB;
    shape-rendering: crispEdges;
}
