#content {
    margin-left:auto;
    margin-right:auto;
    width: 800px;
}

.viz {
    clear: both;
    display: block;
}

.svg {
    display: block;
    fill: #000;
}
.image {
    text-align: center;
    float: left;
}

.section {
    clear: both;
}


.axis text {
    font: 11px serif;
}

rect {
    stroke: #000;
    fill: #FFF;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

line {
    stroke #000;
    stroke-width: 1;
}
.errors, .errors_u, .errors_l {
    stroke: #000;
}
