/*
 * colorscheme:
 * http://www.colourlovers.com/palette/90734/Newly_Risen_Moon
 */

body {
    background-color: #45484B;
    color: #EEE6AB;
}

/*
 * #content {
 *     width: 800px;
 *     margin-left:auto;
 *     margin-right:auto;
 *     text-align: center;
 * }
 */

.viz {
    text-align: center;
}

.svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    fill: #EEE6AB;
}

#left-right {
    float: left;
}

#quarterly {
    float: center;
}

.axis text {
    font: 11px serif;
    fill: #EEE6AB;
}

rect {
    stroke: #EEE6AB;
    fill: #45484B;
}

.axis path,
.axis line {
    fill: none;
    stroke: #EEE6AB;
    shape-rendering: crispEdges;
}

line {
    stroke: #EEE6AB;
    stroke-width: 1;
}
