<html>
    <head>
        <title>Percent of shots made my side of net</title>
        <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script type="text/javascript"
src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    </head>

    <body>
        <div id='content'>
            Proportion of Shots Made by Left / Right of Net
            <svg class="svg" id="piechart"></svg>
            <script type="text/javascript">
                // data: value is proportion
                var proportions = [1: 0.4606
                    ];

                // configure plot area
                var margin = {top: 20, right: 30, bottom: 30, left: 40},
                    width = 200 - margin.left - margin.right,
                    height = 500 - margin.top - margin.bottom,
                    barWidth = width / proportions.length;

                // set x-axis scale
                var x = d3.scale.ordinal()
                    .domain(["Left", "Right"])
                    .rangeRoundBands([0, width], .1);
                // set y-axis scale
                var y = d3.scale.linear()
                    .domain([0.4, 0.5])
                    .range([height, 0]);

                // set up canvas
                var chart = d3.select("#piechart")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                  .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                // for each item in the data, add a rect
                var bar = chart.selectAll(".bar")
                    .data(proportions)
                  .enter().append("rect")
                    .attr("class", "bar")
                    .attr("fill", "steelblue")
                    .attr("x", function(d) { return x(d.name); })
                    .attr("y", function(d) { return y(d.value); })
                    .attr("height", function(d) { return height - y(d.value); })
                    .attr("width", x.rangeBand()); // pretty bar widths--see ordinal scale

                // format and add axes
                var xAxis = d3.svg.axis()
                    .scale(x)
                    .orient("bottom")
                    .ticks(2, "%");
                chart.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(xAxis);

                var yAxis = d3.svg.axis()
                    .scale(y)
                    .orient("left")
                    .ticks(10, "%");
                chart.append("g")
                    .attr("class", "y axis")
                    .call(yAxis);
            </script>
            
            The location from which a shot is attempted is recorded relative to the net's location, which is given as $(0,0)$. Therefore, we can select shots according to side, left or right of the net&mdash;left has values less than 0, right greater than or equal to 0. We examine the proportion of shots made by side, and run a simple hypothesis test.
            <br />
            <br />
            Empirically, we see that $p_L = 0.4099$ and $p_R = 0.4752$. As each shot attempted is an distributed IID with a Bernoulli distribution, we can calculate a 95% confidence interval:
            \[ CI_L = (0.4071, 0.4127); CI_R = (0.4729, 0.4775) \]
            These confidence intervals suggest a statistically significant difference in means (at least under a Bayesian interpretation). A hypothesis test supports this: the $Z$-statistic for a difference in means between the two populations&mdash;left- and right-hand sides of the net&mdash;is equal to 34.9, which is highly significant at all significance levels.
            <br />
            <br />
            We are therefore able to reject the hypothesis that the proportion of shots made is the same on either side of the net, instead suggesting that a higher proportion of shots are made from the right side than the left side.
        </div> <!-- #content -->
    </body>
</html>
